header.study-header, .maincontent, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
{
	margin-left:60px;
}
header.study-header {
	background-image:url(../../img/Study_header_big.jpg);
	height:170px;
	width:910px;
	background-repeat:no-repeat;
	background-position:0px 5px;
}
@media (max-width: 970px) { 
	header.study-header, .maincontent, .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
	{
		margin-left:10px;
	}
}
@media (max-width: 920px) { 
	header.study-header {
		background-image: none;
		height:auto;
	}
}


button.btn.btn-checked,label.btn.btn-checked,a.btn.btn-checked {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  z-index:2;
  border:1px black solid !important;
  outline: 1;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.control-group.warning .controls button.btn, 
.control-group.warning .controls label
{
    color: #c09853;
    border-color: #c09853;
}

.control-group.controls-checkbox input[type=checkbox] {
	margin-top:-3px;
	margin-left: -30px;
	margin-right: 17px;
}
.control-group.controls-checkbox label,label.inline {
	display:inline;
	width:330px;
}
div.control-group div.date div.controls select[name*=day] {
	width:60px;
}
div.control-group div.date div.controls select[name*=month] {
	width:120px;
}
div.control-group div.date div.controls select[name*=year] {
	width:80px;
}
form.form-horizontal div.control-group div.controls label {
    display:inline-block;
}
form.form-horizontal div.control-group div.controls input[type=radio],form.form-horizontal div.control-group div.controls input[type=checkbox] {
    vertical-align:top;
}
form.form-horizontal div.control-group.form-row.item-instruction div.control-label,
form.form-horizontal div.control-group.form-message div.control-label {
    margin-left:0;
	text-align:left;
	width:100%;
}
form.form-horizontal div.form-row:nth-child(odd) {
  background-color: #f9f9f9;
}
form.form-horizontal div.form-row.control-group.optional .control-label::after {
	content:'*';
}
form.form-horizontal div.form-row.item-radio div.controls,
form.form-horizontal div.form-row.item-checkbox div.controls,
form.form-horizontal div.form-row.item-mc_heading div.controls  {
  display:table;
}
form.form-horizontal div.form-row.item-radio div.controls label:not(.keep-label),
form.form-horizontal div.form-row.item-checkbox div.controls label:not(.keep-label), 
form.form-horizontal div.form-row.item-mc_heading div.controls label:not(.keep-label) {
  display:table-cell;
  padding-left:18px;
  padding-right:5px;
  padding-top:5px;
  text-indent:-18px;
}
.form-horizontal.unspaced_rows .control-group
{
	margin-bottom:0px;
}
form.form-horizontal div.form-row div.controls label.keep-label {
	margin-right:5px;
}
form.form-horizontal div.form-row div.controls div.btn-group + label.keep-label {
	margin-right:0px;
	margin-left:5px;
}
.form-horizontal .control-label {
  float: left;
  width: 300px;
  padding-top: 5px;
  text-align: right;
  white-space:normal;
}
.form-horizontal .controls {
  	margin-left: 320px;
}
/*
@media (min-width: 30em) {
    ul {
        display: table;
        padding: 0;
    }

    li {
        display: table-cell;
        border: 1px solid;
    }
}
*/

.input-append input.has-input-buttons:focus,
.input-prepend input.has-input-buttons:focus,
.input-append select.has-input-buttons:focus,
.input-prepend select.has-input-buttons:focus,
.input-append .has-input-buttons.uneditable-input:focus,
.input-prepend .has-input-buttons.uneditable-input:focus {
  z-index: auto;
}


.run_unit_position input
{
	border:0;
	box-shadow:none;
	font-weight:bold;
	font-size:50px;
	height:53px;
	width:110px;
	text-align:left
}
div.run_unit {
	padding-bottom:20px;
}
/* bugfix so flipping works */
a [class^="icon-"], a [class*=" icon-"], a [class^="icon-"]:before, a [class*=" icon-"]:before {
    display: inline-block;
}
.icon-1-5x
{
	font-size:1.7em;
}
.icon-2-5x
{
	font-size:2.5em;
}
output.output {
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    margin: 0 0 0 10px;
}


/* CLASSES THAT COULD BE ADDED BY USER */
.form-horizontal .control-group.left100 .control-label {
  width: 100px;
}
.form-horizontal .control-group.left100 .controls {
  	margin-left: 120px;
}

.form-horizontal .control-group.left200 .control-label {
  width: 200px;
}
.form-horizontal .control-group.left200 .controls {
  	margin-left: 220px;
}

.form-horizontal .control-group.left300 .control-label {
  width: 300px;
}
.form-horizontal .control-group.left300 .controls {
  	margin-left: 320px;
}

.form-horizontal .control-group.left400 .control-label {
  width: 400px;
}
.form-horizontal .control-group.left400 .controls {
  	margin-left: 420px;
}

.form-horizontal .control-group.left500 .control-label {
  width: 500px;
}
.form-horizontal .control-group.left500 .controls {
  	margin-left: 520px;
}

.form-horizontal .control-group.left600 .control-label {
  width: 600px;
}
.form-horizontal .control-group.left600 .controls {
  	margin-left: 620px;
}

.form-horizontal .control-group.left700 .control-label {
  width: 700px;
}
.form-horizontal .control-group.left700 .controls {
  	margin-left: 720px;
}

.form-horizontal .control-group.left800 .control-label {
  width: 800px;
}
.form-horizontal .control-group.left800 .controls {
  	margin-left: 820px;
}
.form-horizontal .control-group.left900 .control-label {
  width: 900px;
}
.form-horizontal .control-group.left900 .controls {
  	margin-left: 920px;
}

form.form-horizontal div.form-row.control-group.mc-boxed div.controls label {
  border-left:1px solid #EEE;
  border-right:1px solid #EEE;
}
form.form-horizontal div.form-row.control-group.mc-boxed div.controls label:first-of-type {
  border-left:0px;
}
form.form-horizontal div.form-row.control-group.mc-boxed div.controls label:last-of-type {
  border-right:0px;
}
form.form-horizontal div.form-row.control-group.mc-boxed div.controls {
  border-collapse:collapse;
}

form.form-horizontal div.form-row.item-mc_heading.control-group div.controls label {
	text-align:center;
	text-indent:0;
}
form.form-horizontal div.form-row.item-mc_heading.control-group div.controls label input {
	display:none;
}
form.form-horizontal div.form-row.control-group.hide_label div.controls label {
	text-align:center;
	text-indent:0;
	height:30px; 
	overflow:hidden;
	line-height:0;
	font-size:0px;
}
form.form-horizontal div.form-row.control-group.hide_label div.controls label input {
    visibility:visible;
}

form.form-horizontal div.form-row.control-group.mc-block div.controls label input {
  display:block;
}

form.form-horizontal div.form-row.control-group.mc-vertical div.controls {
  display:block;
}
form.form-horizontal div.form-row.control-group.mc-vertical div.controls label {
  display:block;
  padding-left:18px;
  padding-right:5px;
  padding-top:5px;
  text-indent:-18px;
}
form.form-horizontal div.form-row.control-group.mc-equal-widths div.controls {
/*  width:100%;*/
  table-layout:fixed;
}
form.form-horizontal div.form-row.control-group.mc-equal-widths div.controls label {
	width:2%;
}
form.form-horizontal div.form-row.control-group.mc-width50 div.controls label,
form.form-horizontal div.form-row.control-group.mc-width50 div.controls button.btn {
	width:50px;
}
form.form-horizontal div.form-row.control-group.mc-width70 div.controls label,
form.form-horizontal div.form-row.control-group.mc-width70 div.controls button.btn {
	width:70px;
}
form.form-horizontal div.form-row.control-group.mc-width100 div.controls label,
form.form-horizontal div.form-row.control-group.mc-width100 div.controls button.btn {
	width:100px;
}
form.form-horizontal div.form-row.control-group.mc-width150 div.controls label,
form.form-horizontal div.form-row.control-group.mc-width150 div.controls button.btn {
	width:150px;
}
form.form-horizontal div.form-row.control-group.mc-width200 div.controls label,
form.form-horizontal div.form-row.control-group.mc-width200 div.controls button.btn {
	width:200px;
}
.table tbody > tr.alternate > td
{
	background-color:#F9F9F9;
}