body {
	border: 0px;
	padding: 0px;
	margin: 0px;
	color: #333333;
	font-family: arial, helvetica;
	font-size: 11pt;
}

#main {
    position: relative;
	top: 140px;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

#main ul.emailconfig {
    list-style-type: none;
}

#content {
	width: 100%;
	display: block;
}

.welcome {
	height: 40px;
	vertical-align: middle;
	text-align: left;
	border: 0px;
	padding: 20px;
	margin: 10px;
	border-collapse:collapse;
	border: 1px solid #bbb;
}

#copyright {
	font-size: 8pt;
	text-align: right;
	color: #fff;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#problems {
	float: right;
	padding-top: 5px;
}

.progress-background {
	background-color: #D9D9D9;
	border: 0px;
	padding: 0px;
	margin: 0px;
	max-height: 20px;
}

.progress-bar {
	background-color: #3076A8;
	min-height: 20px;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

.bottom-submit {
	padding: 10px;
	background-color: #3076A8;
	height: 30px;
	vertical-align: middle;
	text-align: center;
}


#sidebar {
	width: 150px;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
}

#error {
	background-color: red;
	color: black;
}

#errorlink {
	background-color: red;
	color: black;
	font-weight: bold;
	font-size: 1.2em;
}

#title {
	position: relative;
    float: right;
	color: gray;
	background-color: white;
	z-index: 0;
	text-align: right;
    right: 50px;
}

.clearer {
    clear: both;
	height: 0;
	margin: 0;
}

.survey-item {
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
	width: 100%;
	height: 100%;
}

.odd-repeat {
	background-color: #EDEDED;
	color: red;
}

.even-repeat {
	background-color: #D9D9D9;
	color: red;
}

.odd {
	background-color: #EDEDED;
}

.even {
	background-color: #D9D9D9;
}

.survey-item .left {
	float: left;
	width: 50%;
}

.item-description {
}

.item-description p {
	vertical-align: middle;
}

.survey-item .right {
	float: right;
	width: 48%;
	height: 100%;
	margin-left: 2%;
}

.instruction {
	padding: 10px;
	font-size: 12pt;
	background-color: #ff7777;
	color: black;
}

.open-answer {
	height: 100%;
	padding-top: 10px;
}

.open-answer textarea {
}

.integerrating {
	text-align: center;
}

.mixed-last-rating {
	text-align: left;
}

.text-first-rating {
	text-align: left;
}

.text-last-rating {
	text-align: right;
}

.rating-answer {
	text-align: center;
}

.image-input {
	line-height: 100%;
	height: 100%;
}

.image-input img {
	vertical-align: middle;
}

.image-input input {
	margin-left: 10px;
}

.small-table {
	text-align: center;
}

.substitue {
	font-style: bold italic;
}

p {
	padding: 10px;
	margin: 0;
}

a {
	color: gray;
	text-decoration: none;
}

a:active {
	color: gray;
	text-decoration: none;
}

a:visited {
	color: gray;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

img {
	border: 0px;
}


h1 {
	font-size: 25px;
	font-weight: bold;
	margin: 0px;
}


/* feedback */
img.study-feedback {
	width: 90%;
}
.mc-radio-input {
	vertical-align: middle;
}