/config/*
/vendor/*
*.*~
.DS_Store
~*
.Rproj.user
formr.Rcheck
formr-package/man
/nbproject/private/
/createclassmap.php
/tmp/logs/*
!/tmp/logs/cron/
/tmp/logs/cron/*
/tmp/*.lock
/tmp/*.*
/nbproject
/webroot/assets/tmp/*
/webroot/assets/dsc.php
/webroot/assets/node_modules/*
/webroot/assets/tmp/admin/*.*
/tmp/backups/results/*.*
/tmp/backups/surveys/*.*
/tmp/backups/backups/
/tmp/backups/sessions/
/tmp/downloads/*.*
webroot/assets/img
tests/test.php
nohup.out
webroot/assets/*.mp4
webroot/assets/*.html

webroot/assets/bower_components
webroot/assets/lib/bower_components

/*.key
