/config/*
/vendor/*
*.*~
.DS_Store
~*
.Rproj.user
formr.Rcheck
formr-package/man
/nbproject/private/
/createclassmap.php
/tmp/logs/*
!/tmp/logs/cron/
/nbproject
/webroot/assets/node_modules/*
/webroot/assets/bower_components/*
/webroot/assets/tmp/admin/*.*
/tmp/backups/results/*.*
/tmp/backups/surveys/*.*