[submodule "PHPExcel"]
	path = PHPExcel
	url = https://github.com/PHPOffice/PHPExcel.git
[submodule "Markdown"]
	path = Markdown
	url = https://github.com/michelf/php-markdown.git
[submodule "PHPMailer"]
	path = PHPMailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "phpass"]
	path = phpass
	url = https://github.com/scornflakes/phpass
[submodule "js/vendor/select2"]
	path = js/vendor/select2
	url = https://github.com/scornflakes/select2.git
