<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ webroot/$1 [QSA,L]
	# on HU subdomain
#	RewriteBase /survey/
</IfModule>

<IfModule mod_php5.c>
   php_value upload_max_filesize 50M
   php_value post_max_size 50M
</IfModule>

ErrorDocument 404 /public/not_found 
Options -Indexes 