<IfModule mod_rewrite.c>
    RewriteEngine On
    # assets dir
    RewriteRule ^favicon.ico$ webroot/favicon.ico [L]
    RewriteRule ^assets/(.*)$ webroot/assets/$1 [QSA,L]

    RewriteCond %{REQUEST_URI} !/?(webroot)
    RewriteRule ^(.*)/?$ webroot/index.php?route=$1 [QSA,L]
    </IfModule>

<IfModule mod_php5.c>
   php_value upload_max_filesize 50M
   php_value post_max_size 50M
</IfModule>

ErrorDocument 404 /public/not_found 
Options -Indexes 

# Insert filter
SetOutputFilter DEFLATE
# Don't compress images
SetEnvIfNoCase Request_URI \
\.(?:gif|jpe?g|png)$ no-gzip dont-vary

# disable the server signature
ServerSignature Off

# set the default character set
AddDefaultCharset UTF-8

# add MIME types
AddType image/x-icon .ico

# 1 YEAR
<FilesMatch "\.(eot|ico|pdf|flv|jpg|jpeg|png|gif|svg|xml|swf|ttf|woff)$">
Header set Cache-Control "max-age=29030400, public"
</FilesMatch>

# 10 weeks
<FilesMatch "\.(txt|css|js)$">
Header set Cache-Control "max-age=6048000, public"
</FilesMatch>

