<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ webroot/$1 [QSA,L]
	# on HU subdomain
#	RewriteBase /survey/
</IfModule>

<IfModule mod_php5.c>
   php_value upload_max_filesize 50M
   php_value post_max_size 50M
</IfModule>

ErrorDocument 404 /public/not_found 
Options -Indexes 

# Insert filter
SetOutputFilter DEFLATE
# Netscape 4.x has some problems...
BrowserMatch ^Mozilla/4 gzip-only-text/html
# Netscape 4.06-4.08 have some more problems
BrowserMatch ^Mozilla/4\.0[678] no-gzip
# MSIE masquerades as Netscape, but it is fine
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
# Don't compress images
SetEnvIfNoCase Request_URI \
\.(?:gif|jpe?g|png)$ no-gzip dont-vary

# disable the server signature
ServerSignature Off

# set the default character set
AddDefaultCharset UTF-8

# add MIME types
AddType image/x-icon .ico