#AuthType Basic
#AuthName "AdminArea"
#AuthBasicProvider file
##local
#AuthUserFile /Applications/MAMP/htdocs/zwang/.htpasswd
## on HU subdomain
##AuthUserFile /usr/local/www/htdocs/zwang/.htpasswd
#Require valid-user
#
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?([A-Za-z0-9_]+)/?$ $1.php [QSA,L]
	# on HU subdomain
#	RewriteBase /survey/admin/
</IfModule>