export("%contains%")
export(aggregate2sources)
export(current)
export(feedback_chunk)
export(first)
export(formr_aggregate)
export(formr_connect)
export(formr_item_displays)
export(formr_items)
export(formr_raw_results)
export(formr_recognise)
export(formr_results)
export(formr_shuffled)
export(formr_simulate_from_items)
export(last)
export(miss_frac)
export(qplot_on_bar)
export(qplot_on_normal)
export(qplot_on_polar)
export(shuffleWithBlocks)
import(ggplot2)
