export("%contains%")
export(aggregate2sources)
export(current)
export(feedback_chunk)
export(first)
export(formr_connect)
export(formr_import)
export(last)
export(miss_frac)
export(qplot_on_bar)
export(qplot_on_normal)
export(qplot_on_polar)
export(shuffleWithBlocks)
import(ggplot2)
