<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?([a-z0-9_]+)/([a-z0-9_]+)/?$ $2.php?study_name=$1 [QSA,L]
</IfModule>