<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}.php !-d
    RewriteCond %{REQUEST_FILENAME}.php !-f
  	RewriteRule ^([a-z0-9_]+)/?$ edit_run.php?run_name=$1 [QSA,L]
	
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME}.php !-d
    RewriteCond %{REQUEST_FILENAME}.php !-f
  	RewriteRule ^([a-z0-9_]+)/([a-z0-9_]+)/?$ $2.php?run_name=$1 [QSA,L]
	
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^/?([a-z0-9_]+)/?$ $1.php [QSA,L]
	# on HU subdomain
#	RewriteBase /survey/acp/
</IfModule>