body {
	margin-bottom:50px;
}
.formr-brand, h1, h2, h3, h4
{
    font-family:"FPL Neu","Palatino";
}
label
{
    font-weight:normal;
}
.navbar-formr 
{
    background-color: white;
	background-color:rgba(255,255,255,0.7);
    border:0;
    border-radius:0;
}

.broken_tape
{
    background-image: url("../img/broken_tape.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size:cover;
    position:fixed;
    left:0;
    top:0;
    min-height:100%;
    min-width:100%;
}
.broken_tape .tape_label_box
{
    margin-right:auto;
    margin-left:auto;
    margin-top:10%;
    width:35%;
    height:130px;
}
.tape_go_back {
	background-color:white;
	background-color:rgba(255,255,255,0.7);
}
.broken_tape .tape_label_box .tape_label
{
    display:block;
    margin-left:-11%;
    background-color:#FEFEFE;
    height:100px;
}
@media (max-width: 1440px) { 
    .broken_tape .tape_label_box
    {
        margin-left:32%;
    }
    .broken_tape .tape_label_box .tape_label
    {
        height:4em;
    }
}
.abbreviated_session
{
    cursor:pointer;
}
.progress-container
{
    position:fixed;
    top:0;
    z-index:99;
    height:20px;
}
.progress-container .progress 
{
    border-radius:0 0 4px 4px;
	margin-left:-15px;
	padding-right:15px;
}
.monkey_bar {
    background:white;
    position:fixed;
    bottom:0;
    height:50px;
    z-index:99;
}
.run_header, .survey_header
{
    height:330px;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)), url("../img/boombox_innards.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 0;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:-10;
}
.survey_header
{
    height:100%;
    max-height:716px;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)), url("../img/boombox_dials.jpg");
}
.drop_shadow
{
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 1);
}
.run_header_name {
    padding-top:50px;
    margin-top:0;	
}
.drop_shadow small {
    color:black;
}

.admin_sidebar
{
    background-color:white;
    background-color:rgba(255,255,255,0.4);
}
.transparent_well
{
    background-color:white;
    background-color:rgba(255,255,255,0.6);
}
.transparent_well .panel-heading, .well .panel-default
{
    background-color:white;
    background-color:rgba(255,255,255,0.2);
}
.transparent_well small
{
	color:black;
}

.formr-jumbo
{
 background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url("../img/boombox_innards.jpg");
 background-position:-60px -20px; 
 height:310px;
}
.formr-jumbo small {
    color:black;
}

.table > tbody > tr.immediately_continued > td
{
    border-top-style:dashed;
}
iframe.rChart
{
    border:0;
}
kbd {
    background: none repeat scroll 0 0 #FAFAFA;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-radius: 4px;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #FFFFFF inset;
    color: #444444;
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
    font-weight: bold;
	font-size: 11px;
    padding: 2px 6px;
    white-space: nowrap;
}

button.btn.btn-checked,
label.btn.btn-checked,
a.btn.btn-checked {
  background-color: #c3c3c3;
  z-index:2;
  border:1px black solid;
  outline: 1px;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.form-group.warning .controls button.btn, 
.form-group.warning .controls label
{
    color: #c09853;
    border-color: #c09853;
}

.form-group.controls-checkbox input[type=checkbox] {
	margin-top:-3px;
	margin-left: -30px;
	margin-right: 17px;
}
.form-group.controls-checkbox label,
label.inline {
	display:inline-block;
	width:330px;
}
.single_unit_display .run_unit_position
{
    display:none;
}
form.form-horizontal div.form-group div.controls label {
    display:inline-block;
}
form.form-horizontal div.form-group div.controls input[type=radio],form.form-horizontal div.form-group div.controls input[type=checkbox] {
    vertical-align:top;
}
form.form-horizontal div.form-group.form-row.item-note div.control-label,
form.form-horizontal div.form-group.form-message div.control-label {
    margin-left:0;
	text-align:left;
	width:100%;
	max-width:100%;
}
form.form-horizontal div.form-group.form-row.item-note div.controls
{
    display:none;
}
div.controls-inner {
    display:block;
}
form.form-horizontal div.form-row div.controls div.mc-table label {
  display:inline-block;
  padding-left:18px;
  padding-right:5px;
  padding-top:5px;
  text-indent:-18px;
}
.form-horizontal.unspaced_rows .form-group
{
	margin-bottom:0;
}
form.form-horizontal div.form-row div.controls label.keep-label {
	margin-right:5px;
}
form.form-horizontal div.form-row div.controls div.btn-group + label.keep-label {
	margin-right:0;
	margin-left:5px;
}
.form-horizontal .control-label {
  float: left;
  width: 300px;
  padding-top: 5px;
  text-align: right;
  white-space:normal;
}
.form-horizontal .controls {
  	margin-left: 320px;
}

.input-group input.has-input-buttons:focus,
.input-group input.has-input-buttons:focus,
.input-group select.has-input-buttons:focus,
.input-group select.has-input-buttons:focus,
.input-group .has-input-buttons.uneditable-input:focus,
.input-group .has-input-buttons.uneditable-input:focus {
  z-index: auto;
}


.run_unit_position
{
    width:145px;
}
.run_unit_dialog
{
    width:390px;
}
.run_unit_dialog textarea.form-control {
    width:388px;
}
.run_unit_dialog .full_width {
    width:362px;
}
.run_unit_inner .run_unit_description, .run_unit_position input
{
	border:0;
	box-shadow:none;
	font-weight:bold;
	font-size:45px;
	height:65px;
	width:100px;
	text-align:left;
    background-color:transparent;
}
.run_unit_inner .run_unit_description {
    font-size:20px;
    width:100%;
    height:25px;
    background-color:white;
    background-color:rgba(255,255,255,0.7);
}
div.run_unit {
	padding-bottom:20px;
}
.fa-1-5x
{
	font-size:1.7em;
}
.fa-huge
{
	font-size:4.5em;
}
output.output {
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    margin: 0 0 0 10px;
}

.form-row .form-control
{
    max-width:300px;
}
.item-email .form-control, 
.item-date .form-control,
.item-cc .form-control,
.item-month .form-control,
.item-datetime .form-control,
.item-datetime-local .form-control,
.item-week .form-control,
.item-yearmonth .form-control,
.item-tel .form-control,
.item-url .form-control,
.item-color .form-control,
.item-geopoint .form-control
{
    max-width: 257px;
}
input[type="range"] {
  display: inline-block;
  width: 60%;
}
.form-group.form-row.range-list .controls-inner label, .form-group.form-row.range .controls-inner label {
	width:20%;
}
.range_ticks_output .controls-inner
{
    min-height:50px;
}
.item-geopoint .input-group-addon, .input-group-btn 
{
    width:auto; /*fixes chrome display bug*/
}

.table tbody > tr.alternate > td
{
	background-color:#F9F9F9;
}
body .select2-offscreen, body .select2-offscreen:focus {
	position:absolute;
}
body .select2-container
{
	min-width:100px;
}
.bigdrop.select2-container .select2-results {
    max-height: 500px;
}
.bigdrop .select2-results {
    max-height: 500px;
}
.form-control.select2-container {
    border:none;
    box-shadow:none;
    padding:0;
}
.form-control.select2-container .select2-choice
{
    padding-top: 4px;
    height:34px;
}
.form-control.select2-container .select2-choice .select2-arrow
{
    padding-top:4px;
}
.form-control.select2-container .select2-choice abbr
{
    top:12px;
}
.select2pills
{
    width:250px;
}

div.pos_changed input {
	color:#49afcd;
}

div.all-alerts + div
{
    margin-right:300px;
}

.run_content
{
    margin-top:20px;
    margin-bottom:20px;
}

.btn {
    background-color: white;
    background-image: none;
    border: #000 solid 1px;
    color: #000;
    text-shadow: none;
}
.btn:hover,.btn:active,.btn:focus {
    background-color: #F0F0F0;
    color: #000;
}
.btn-info {
    background-color: transparent;
    background-image: none;
    border: #5BC0DE solid 1px;
    color: #5BC0DE;
    text-shadow: none;
}
.btn-info:hover,.btn-info:active,.btn-info:focus {
    background-color: #DCF7FB;
    color: #5BC0DE;
}
.btn-success {
    background-color: transparent;
    background-image: none;
    border: #62c462 solid 1px;
    color: #62c462;
    text-shadow: none;
}
.btn-success:hover,.btn-success:active,.btn-success:focus {
    background-color: #CFEACC;
    color: #62c462;
}
.btn-danger {
    background-color: transparent;
    background-image: none;
    border: #ee5f5b solid 1px;
    color: #ee5f5b;
    text-shadow: none;
}
.btn-danger:hover,.btn-danger:active,.btn-danger:focus {
    background-color: #FFBBB6;
    color: #ee5f5b;
}
.btn-warning {
    background-color: transparent;
    background-image: none;
    border: #fbb450 solid 1px;
    color: #fbb450;
    text-shadow: none;
}
.btn-warning:hover,.btn-warning:active,.btn-warning:focus {
    background-color: #FDEFD9;
    color: #fbb450;
}
.form-horizontal .item-submit
{
    padding-top:10px;
    text-align:center;
    padding-bottom:10px;
}
.run_unit_inner.Endpage,.run_unit_inner.branch
{
    border-bottom:3px solid black;
}

.col-md-no-left-pad {
    padding-left:0;
}
.fa-ul-more-padding li
{
    margin-top:5px;
}
.nav-header
{
    cursor: default;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color:#444;
    margin-top:10px;
}
.main_admin_nav
{
    margin-bottom:20px;
}
.main_public_nav
{
    margin-bottom:20px;
}
.form-horizontal.form-horizontal-small-left .control-label
{
    width:150px;
}
.form-horizontal.form-horizontal-small-left .controls
{
    margin-left:170px;
}
.run_unit_type_Survey
{
    margin-top:30px;
}
.center
{
    text-align:center;
}
.muted
{
    color:#DDD;
}

.fa-ul li.active a
{
    color:black;
    font-weight:bold;
}

.padding-below
{
    margin-bottom:10px;
}
div.tiny-panel div.panel-group  div.panel.panel-default
{
    margin-top:0;
    border:0;
}
div.tiny-panel div.panel-group  div.panel.panel-default  div.panel-heading
{
    padding:5px 7px;
    border-bottom:1px #EFEFEF solid;
    background-color:#F7F7F7;
}

.form-horizontal .form-group {
    margin-left:0;
	margin-right:0;
}

dl.dl-wider dt
{
    width:200px;
    margin-bottom:7px;
}
dl.dl-wider dd
{
    margin-left:220px;
    margin-bottom:7px;
}
.pad-right
{
    padding-right:7px;
}
.pad-left
{
    padding-left:7px;
}

.alert .fa
{
    display:none;
    color: #000000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
.table .alert .fa
{
    display:block;
}

code, pre
{
    color:#2D2D2D;
    background-color:#F8F8F8;
}
pre
{
    background-color:#FFFFFF;
    margin:14px 0;
    padding:0;
    border:0;
}
pre code.hljs
{
    background-color:#F8F8F8;
}
.alert pre {
    background-color:inherit;
}

tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}
div.btn-check button.btn {
    border-radius:2px;
    height:52px;
    width:52px;
}

.mc-table label + label {
    margin-left: -1px;
}

form.form-horizontal img, div.modal-content img,img {
    max-width: 100%;
    height: auto;
}
.badge-success {
  background-color: #468847;
}
.run_unit_position .badge:empty {
  visibility:hidden;
  display:inline;
}



.item-text.form-group.form-row .form-control, .item-color.form-group.form-row .form-control {
    width:300px;
	max-width:100%;
}
.item-email.form-group.form-row .form-control {
    width:100%;	
}

.btn {
    white-space: normal;
}
.btn .btn_value {
    display:none;
}

.form-control.round_right {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.no-padding {
	padding: 0;
}
.clear-top {
	margin-top: 0;
}
.white {
	color: #fff !important;
}
.admin-survey-items .table-content {
	width: 99%;
	margin-top: 2px;
}
.admin-survey-items .table-content .modal-body {
	padding: 1px;
	overflow: hidden;
}
.admin-survey-items .table-content td {
	overflow: hidden;
	max-width: 100%
}

.admin-survey-items .table-content .td-contents {
	max-height: 100px;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	overflow-y: auto;
}

.admin-survey-items .table-content .field-name {
	width: 200px;
}
.admin-survey-items .table-content .field-choices {
	width: 300px;
}
.admin-survey-items .table-content .field-label_parsed{
	width: 450px;
}



/*responsive layouts for mobile */
@media (max-width: 768px) { 
    .progress-container
    {
		color:red;
        width:100%;
        padding:0;
	    margin:0;
    }
	form.form-horizontal div.form-row.form-group .controls {
		clear:both;
		margin-left: 0;
		margin-right: 0;
		width:100%;
	}
	form.form-horizontal div.form-row.form-group .control-label {
		text-align:left;
		width:100%;
	}
    /* always make mcs vertical on small screens */

    form.form-horizontal div.form-row.form-group.item-mc  div.controls, 
    form.form-horizontal div.form-row.form-group.item-mc_multiple div.controls,
    form.form-horizontal div.form-row.form-group.item-mc_button div.controls,
    form.form-horizontal div.form-row.form-group.item-mc_multiple_button div.controls {
      display:block;
    }
    form.form-horizontal div.form-row.form-group.item-mc  div.controls label, 
    form.form-horizontal div.form-row.form-group.item-mc_multiple div.controls label,
    form.form-horizontal div.form-row.form-group.item-mc_button div.controls label,
    form.form-horizontal div.form-row.form-group.item-mc_multiple_button div.controls label {
      display:block;
      padding-left:18px;
      padding-right:5px;
      padding-top:5px;
      text-indent:-18px;
    }
    
   

    /* make buttons go vertical on small screens  */
    div.form-row.form-group .btn-group > .btn,
    div.form-row.form-group .btn-group > .btn-group {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
    }

    div.form-row.form-group .btn-group > .btn-group:before,
    div.form-row.form-group .btn-group > .btn-group:after {
      display: table;
      content: " ";
    }

    div.form-row.form-group .btn-group > .btn-group:after {
      clear: both;
    }

    div.form-row.form-group .btn-group > .btn-group:before,
    div.form-row.form-group .btn-group > .btn-group:after {
      display: table;
      content: " ";
    }

    div.form-row.form-group .btn-group > .btn-group:after {
      clear: both;
    }

    div.form-row.form-group .btn-group > .btn-group > .btn {
      float: none;
    }

    div.form-row.form-group .btn-group > .btn + .btn,
    div.form-row.form-group .btn-group > .btn + .btn-group,
    div.form-row.form-group .btn-group > .btn-group + .btn,
    div.form-row.form-group .btn-group > .btn-group + .btn-group {
      margin-top: -1px;
      margin-left: 0;
    }

    div.form-row.form-group .btn-group > .btn:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    div.form-row.form-group .btn-group > .btn:first-child:not(:last-child) {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    div.form-row.form-group .btn-group > .btn:last-child:not(:first-child) {
      border-top-right-radius: 0;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 0;
    }

    div.form-row.form-group .btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
      border-radius: 0;
    }

    div.form-row.form-group .btn-group > .btn-group:first-child > .btn:last-child,
    div.form-row.form-group .btn-group > .btn-group:first-child > .dropdown-toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    div.form-row.form-group .btn-group > .btn-group:last-child > .btn:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    
    /* special logic for rating_button  */
    form.form-horizontal div.form-group.item-rating_button div.controls .controls-inner label.keep-label,
    form.form-horizontal div.form-group.item-rating_button div.controls .controls-inner {
        text-align:center;
    }
    form.form-horizontal div.form-group.item-rating_button div.controls  label.keep-label {
        display:block;
    }
	form.form-horizontal div.form-group.vertical_range .control-label {
		padding-top:0;
	}
	
}

/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
  display: block; padding: 0.5em;
  color: #000;
  background: #fff;
}

.hljs-subst,
.hljs-title {
  font-weight: normal;
  color: #000;
}

.hljs-comment,
.hljs-template_comment,
.hljs-javadoc,
.diff .hljs-header {
  color: #808080;
  font-style: italic;
}

.hljs-annotation,
.hljs-decorator,
.hljs-preprocessor,
.hljs-pragma,
.hljs-doctype,
.hljs-pi,
.hljs-chunk,
.hljs-shebang,
.apache .hljs-cbracket,
.hljs-prompt,
.http .hljs-title {
  color: #808000;
}

.hljs-tag,
.hljs-pi {
  background: #efefef;
}

.hljs-tag .hljs-title,
.hljs-id,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-literal,
.hljs-keyword,
.hljs-hexcolor,
.css .hljs-function,
.ini .hljs-title,
.css .hljs-class,
.hljs-list .hljs-title,
.clojure .hljs-title,
.nginx .hljs-title,
.tex .hljs-command,
.hljs-request,
.hljs-status {
  font-weight: bold;
  color: #000080;
}

.hljs-attribute,
.hljs-rules .hljs-keyword,
.hljs-number,
.hljs-date,
.hljs-regexp,
.tex .hljs-special {
  font-weight: bold;
  color: #0000ff;
}

.hljs-number,
.hljs-regexp {
  font-weight: normal;
}

.hljs-string,
.hljs-value,
.hljs-filter .hljs-argument,
.css .hljs-function .hljs-params,
.apache .hljs-tag {
  color: #008000;
  font-weight: bold;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-char,
.tex .hljs-formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

.hljs-phpdoc,
.hljs-yardoctag,
.hljs-javadoctag {
  text-decoration: underline;
}

.hljs-variable,
.hljs-envvar,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #660e7a;
}

.hljs-addition {
  background: #baeeba;
}

.hljs-deletion {
  background: #ffc8bd;
}

.diff .hljs-change {
  background: #bccff9;
}

/* admin stuff */
.run-export-unit-block {
    position: relative;
    margin-bottom: 2px;
}
.run-export-unit-block pre {
    margin: 0;
}
.run-export-unit-block .select {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 30px;
    top: 15px;
    background: #fff;
    z-index: 20000;
    cursor: pointer;
    padding: 0 !important;
}
.red {
	color: red;
}
.green {
	color: green;
}
.import-run-dialog .form-group {
	margin-bottom: 5px;
}
.white_cover {
	position:fixed;
	left:0;
	top:0;
	min-width:100%;
	min-height:100%;
	background-color:white;
	z-index:99999999;
}
.submit_fuse_box {
	width:90%;
	height:10px;
}
.submit_fuse {
	width:100%;
	background-color: #5BC0DE;
	height:10px;
}
.study-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	-o-text-overflow: clip;
	text-overflow: clip;
	-webkit-box-shadow: 1px 4px 11px 4px rgba(7,0,0,0.36) ;
	-moz-box-shadow: 1px 4px 11px 4px rgba(7,0,0,0.36) ;
	box-shadow: 1px 4px 11px 4px rgba(7,0,0,0.36) ;
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	margin: 0px 15px 30px 15px;
	min-height: 50px;
	padding-top: 20px;
}

.study-box h4 a{
	font-size: 18px;
	color: #555;
	text-transform: uppercase;
}
.study-box h4 a:hover {
	color: #49afcd;
	text-decoration: none;
}
.study-box .open,
.study-box .blurb {
	margin-top: 5px;
	border-top: 1px solid #efefef;
	padding: 15px 0px;
}
.study-box .open {
	display: block;
	margin-bottom: 10px;
}
.social-share {
	float: right;
	padding: 12px 0px;
	color: #999999;
	font-size: 12px;
	display: block;
}

.social-share-icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 8px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
	border: 0px !important;
}

.social-share-icon.share i {
	font-style: normal;
}

.social-share-icon.share {
	background: none;
	line-height: 16px;
	width: auto;
	vertical-align: top;
	cursor: default;
}

.social-share-icon.facebook {
	background-image: url('../img/sprites/facebook.png');
}

.social-share-icon.facebook:hover {
	background-image: url('../img/sprites/facebook_mo.png');
}

.social-share-icon.twitter {
	background-image: url('../img/sprites/twitter.png');
}

.social-share-icon.twitter:hover {
	background-image: url('../img/sprites/twitter_mo.png');
}

.social-share-icon.draugiem {
	background-image: url('../img/sprites/draugiem.png');
}

.social-share-icon.draugiem:hover {
	background-image: url('../img/sprites/draugiem_mo.png');
}
