#AuthUserFile /Applications/MAMP/htdocs/zwang/.htpasswd
#AuthUserFile /.htpasswd
#AuthName ByPassword
#AuthType Basic
#<Limit GET POST>
#require valid-user
#</Limit>
# commented out because HU Berlin servers suck
