AuthType Basic
AuthName "AdminBereich"
AuthBasicProvider file
#local
AuthUserFile /Applications/MAMP/htdocs/zwang/.htpasswd
#prod
#AuthUserFile /usr/local/www/htdocs/zwang/.htpasswd
Require valid-user